<h1>Welcome to Your Budget App</h1>
<p>This is the home page of your budget application.</p>
<%# <% @entities.each do |ele| %> %>
  <%# <p><%= link_to ele.name, entity_path(ele) %></p> %>
<%# <%end%> %>
<%# <%= link_to 'Add entity', new_entity_path%>



