<h1>Welcome to Your Budget App</h1>
<p>This is the home page of your budget application.</p>
<%= link_to 'View Transactions', transactions_path, class: 'btn btn-primary' %>
<%= link_to 'Add Transaction', add_transaction_path, class: 'btn btn-success' %>
