<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |g| %>
      <tr>
        <td><%= g.name %></td>
        <td><%= g.icon %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Group', new_group_path %>
