<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Icon</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |g| %>
      <tr>
        <td><%= g.name %></td>
        <td><%= g.icon %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id="icon-selector" >
<i class="fas fa-home" data-class="fa-home"  ></i> 
<i class="fas fa-heart" data-class="fa-heart" ></i>
<i class="fas fa-globe"></i>
<i class="fas fa-user"></i> 
<i class="fas fa-envelope"></i> 
<i class="fas fa-camera"></i>
<i class="fas fa-shopping-cart"></i> 
<i class="fas fa-briefcase"></i> 
<i class="fas fa-cog"></i> 
<i class="fas fa-check-circle"></i>
</div>


<br>

<%= link_to 'New Group', new_group_path %>
<%= javascript_include_tag 'icon-picker' %>
