<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <th>Icon</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |g| %>
      <%= link_to, group_path(g), class: 'btn btn-primary'
      <tr>
        <td>
          <i class="<%= "fas fa-#{g.icon}" %>"></i>
        </td>
        <td><%= g.name %></td>
        <td>
        
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>



<br>

<%= link_to 'New Category', new_group_path %>
