<h1>Categories</h1>

<table>
  <thead>
    <tr>
      <%# <th>Icon</th>
      <th>Name</th>
      <th>Amount</th> %>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |g| %>      
      <tr>
      <link_to g.group_index_path>
        <td>          
          <i class="<%= "fas fa-#{g.icon}" %>"></i>
        </td>
        
        <td><%= g.name %></td>
        <td><%= g.amount %></td>
      </link_to>
    <% end %>
  </tbody>
</table>

<br>



<br>

<%= link_to 'New Group', new_group_path %>
